[Unit]
Description=server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/python3 /home/pi/app.py
[Install]
WantedBy=multi-user.target
Alias=server